<a href="https://colab.research.google.com/github/Anupam8858/split_strings_in_a_pandas/blob/main/split_strings_in_a_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/GitHub Project/split_strings_in_a_pandas /fav_foods.csv")

In [5]:
df.head()

,id,email,favorite_foods,Unnamed: 3
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",NaN
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",NaN
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",NaN
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",NaN
4,5.0,juliet.erickson@email.com,"poutine, sandwich",NaN