<a href="https://colab.research.google.com/github/Anupam8858/split_strings_in_a_pandas/blob/main/split_strings_in_a_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/GitHub Project/split_strings_in_a_pandas /fav_foods.csv")
df

,id,email,favorite_foods,Unnamed: 3
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",NaN
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",NaN
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",NaN
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",NaN
4,5.0,juliet.erickson@email.com,"poutine, sandwich",NaN
5,6.0,laylah.sullivan@email.com,"french fries, ramen, fish and chips",NaN
6,7.0,kenzie.underwood@email.com,"sushi, curly fries, chilps",NaN
7,8.0,alexandra.raig@email.com,NaN,NaN
8,9.0,solomon.rollins@email.com,"hot dog, poutine",NaN
9,10.0,alisha.mcgrath@email.com,"ramen, spaghetti",NaN
10,11.0,jakayla.suarez@email.com,"lasagna, sushi, hamburger",NaN
11,12.0,alvaro.mccann@email.com,"pizza, enchiladas, apple pie",NaN
12,13.0,derrick.jackson@email.com,"hamburger, hot dog, macaroni and cheese",NaN
13,14.0,gina.ball@email.com,"rice, poutine, hot dog",NaN
14,15.0,myles.hendrix@email.com,"pizza, ramen, hamburger",NaN
15,NaN,NaN,NaN,NaN

Notes:

Drop multiple rows based on their index:

df.drop(index=[1,2,3], inplace=True)



Drop rows based on a condition (in this example, drop all rows where the "Age" column is less than 18):

df.drop(df[df.Age < 18].index, inplace=True)

In [5]:
# To drop index no. 15
df.drop(index=15,inplace=True)
df

,id,email,favorite_foods,Unnamed: 3
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",NaN
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",NaN
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",NaN
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",NaN
4,5.0,juliet.erickson@email.com,"poutine, sandwich",NaN
5,6.0,laylah.sullivan@email.com,"french fries, ramen, fish and chips",NaN
6,7.0,kenzie.underwood@email.com,"sushi, curly fries, chilps",NaN
7,8.0,alexandra.raig@email.com,NaN,NaN
8,9.0,solomon.rollins@email.com,"hot dog, poutine",NaN
9,10.0,alisha.mcgrath@email.com,"ramen, spaghetti",NaN
10,11.0,jakayla.suarez@email.com,"lasagna, sushi, hamburger",NaN
11,12.0,alvaro.mccann@email.com,"pizza, enchiladas, apple pie",NaN
12,13.0,derrick.jackson@email.com,"hamburger, hot dog, macaroni and cheese",NaN
13,14.0,gina.ball@email.com,"rice, poutine, hot dog",NaN
14,15.0,myles.hendrix@email.com,"pizza, ramen, hamburger",NaN

In [6]:
df.columns

Index(['id', 'email', 'favorite_foods', 'Unnamed: 3'], dtype='object')

Drop multiple columns by name:

df.drop(['column1', 'column2', 'column3'], axis=1, inplace=True)


Drop a column by index:

df.drop(df.columns[index], axis=1, inplace=True)

In [7]:
# dropping 'Unnamed: 3' columns from the csv file
df.drop('Unnamed: 3',axis=1,inplace=True)
df

      id                       email                           favorite_foods
0    1.0     liberty.hayes@email.com  apple pie, hot dog, macaroni and cheese
1    2.0    mallory.spears@email.com              sushi, fried chicken, pizza
2    3.0       easton.lara@email.com         enchiladas, apple pie, hamburger
3    4.0    jaslyn.mathews@email.com                steak, hamburger, hot dog
4    5.0   juliet.erickson@email.com                        poutine, sandwich
5    6.0   laylah.sullivan@email.com      french fries, ramen, fish and chips
6    7.0  kenzie.underwood@email.com               sushi, curly fries, chilps
7    8.0    alexandra.raig@email.com                                      NaN
8    9.0   solomon.rollins@email.com                         hot dog, poutine
9   10.0    alisha.mcgrath@email.com                         ramen, spaghetti
10  11.0    jakayla.suarez@email.com                lasagna, sushi, hamburger
11  12.0     alvaro.mccann@email.com             pizza, enchiladas, apple pie
12  13.0   derrick.jackson@email.com  hamburger, hot dog, macaroni and cheese
13  14.0         gina.ball@email.com                   rice, poutine, hot dog
14  15.0     myles.hendrix@email.com                  pizza, ramen, hamburger

In [8]:
df

      id                       email                           favorite_foods
0    1.0     liberty.hayes@email.com  apple pie, hot dog, macaroni and cheese
1    2.0    mallory.spears@email.com              sushi, fried chicken, pizza
2    3.0       easton.lara@email.com         enchiladas, apple pie, hamburger
3    4.0    jaslyn.mathews@email.com                steak, hamburger, hot dog
4    5.0   juliet.erickson@email.com                        poutine, sandwich
5    6.0   laylah.sullivan@email.com      french fries, ramen, fish and chips
6    7.0  kenzie.underwood@email.com               sushi, curly fries, chilps
7    8.0    alexandra.raig@email.com                                      NaN
8    9.0   solomon.rollins@email.com                         hot dog, poutine
9   10.0    alisha.mcgrath@email.com                         ramen, spaghetti
10  11.0    jakayla.suarez@email.com                lasagna, sushi, hamburger
11  12.0     alvaro.mccann@email.com             pizza, enchiladas, apple pie
12  13.0   derrick.jackson@email.com  hamburger, hot dog, macaroni and cheese
13  14.0         gina.ball@email.com                   rice, poutine, hot dog
14  15.0     myles.hendrix@email.com                  pizza, ramen, hamburger

split method use:


We can seperate the first name and last name by using the str.split method. This returns a list with the first name, the last name with the @email attached to it, and com [first_name, last_name@email, com].


Notice that the character that we split on (i.e., '.') is not included in the list