<a href="https://colab.research.google.com/github/Anupam8858/split_strings_in_a_pandas/blob/main/split_strings_in_a_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/GitHub Project/split_strings_in_a_pandas /fav_foods.csv")
df

,id,email,favorite_foods,Unnamed: 3
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",NaN
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",NaN
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",NaN
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",NaN
4,5.0,juliet.erickson@email.com,"poutine, sandwich",NaN
5,6.0,laylah.sullivan@email.com,"french fries, ramen, fish and chips",NaN
6,7.0,kenzie.underwood@email.com,"sushi, curly fries, chilps",NaN
7,8.0,alexandra.raig@email.com,NaN,NaN
8,9.0,solomon.rollins@email.com,"hot dog, poutine",NaN
9,10.0,alisha.mcgrath@email.com,"ramen, spaghetti",NaN
10,11.0,jakayla.suarez@email.com,"lasagna, sushi, hamburger",NaN
11,12.0,alvaro.mccann@email.com,"pizza, enchiladas, apple pie",NaN
12,13.0,derrick.jackson@email.com,"hamburger, hot dog, macaroni and cheese",NaN
13,14.0,gina.ball@email.com,"rice, poutine, hot dog",NaN
14,15.0,myles.hendrix@email.com,"pizza, ramen, hamburger",NaN
15,NaN,NaN,NaN,NaN

Notes:

Drop multiple rows based on their index:

df.drop(index=[1,2,3], inplace=True)



Drop rows based on a condition (in this example, drop all rows where the "Age" column is less than 18):

df.drop(df[df.Age < 18].index, inplace=True)

In [4]:
# To drop index no. 15
df.drop(index=15,inplace=True)
df

,id,email,favorite_foods,Unnamed: 3
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",NaN
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",NaN
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",NaN
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",NaN
4,5.0,juliet.erickson@email.com,"poutine, sandwich",NaN
5,6.0,laylah.sullivan@email.com,"french fries, ramen, fish and chips",NaN
6,7.0,kenzie.underwood@email.com,"sushi, curly fries, chilps",NaN
7,8.0,alexandra.raig@email.com,NaN,NaN
8,9.0,solomon.rollins@email.com,"hot dog, poutine",NaN
9,10.0,alisha.mcgrath@email.com,"ramen, spaghetti",NaN
10,11.0,jakayla.suarez@email.com,"lasagna, sushi, hamburger",NaN
11,12.0,alvaro.mccann@email.com,"pizza, enchiladas, apple pie",NaN
12,13.0,derrick.jackson@email.com,"hamburger, hot dog, macaroni and cheese",NaN
13,14.0,gina.ball@email.com,"rice, poutine, hot dog",NaN
14,15.0,myles.hendrix@email.com,"pizza, ramen, hamburger",NaN

In [5]:
df.columns

Index(['id', 'email', 'favorite_foods', 'Unnamed: 3'], dtype='object')

Drop multiple columns by name:

df.drop(['column1', 'column2', 'column3'], axis=1, inplace=True)


Drop a column by index:

df.drop(df.columns[index], axis=1, inplace=True)

In [6]:
# dropping 'Unnamed: 3' columns from the csv file
df.drop('Unnamed: 3',axis=1,inplace=True)
df

      id                       email                           favorite_foods
0    1.0     liberty.hayes@email.com  apple pie, hot dog, macaroni and cheese
1    2.0    mallory.spears@email.com              sushi, fried chicken, pizza
2    3.0       easton.lara@email.com         enchiladas, apple pie, hamburger
3    4.0    jaslyn.mathews@email.com                steak, hamburger, hot dog
4    5.0   juliet.erickson@email.com                        poutine, sandwich
5    6.0   laylah.sullivan@email.com      french fries, ramen, fish and chips
6    7.0  kenzie.underwood@email.com               sushi, curly fries, chilps
7    8.0    alexandra.raig@email.com                                      NaN
8    9.0   solomon.rollins@email.com                         hot dog, poutine
9   10.0    alisha.mcgrath@email.com                         ramen, spaghetti
10  11.0    jakayla.suarez@email.com                lasagna, sushi, hamburger
11  12.0     alvaro.mccann@email.com             pizza, enchiladas, apple pie
12  13.0   derrick.jackson@email.com  hamburger, hot dog, macaroni and cheese
13  14.0         gina.ball@email.com                   rice, poutine, hot dog
14  15.0     myles.hendrix@email.com                  pizza, ramen, hamburger

In [7]:
df

      id                       email                           favorite_foods
0    1.0     liberty.hayes@email.com  apple pie, hot dog, macaroni and cheese
1    2.0    mallory.spears@email.com              sushi, fried chicken, pizza
2    3.0       easton.lara@email.com         enchiladas, apple pie, hamburger
3    4.0    jaslyn.mathews@email.com                steak, hamburger, hot dog
4    5.0   juliet.erickson@email.com                        poutine, sandwich
5    6.0   laylah.sullivan@email.com      french fries, ramen, fish and chips
6    7.0  kenzie.underwood@email.com               sushi, curly fries, chilps
7    8.0    alexandra.raig@email.com                                      NaN
8    9.0   solomon.rollins@email.com                         hot dog, poutine
9   10.0    alisha.mcgrath@email.com                         ramen, spaghetti
10  11.0    jakayla.suarez@email.com                lasagna, sushi, hamburger
11  12.0     alvaro.mccann@email.com             pizza, enchiladas, apple pie
12  13.0   derrick.jackson@email.com  hamburger, hot dog, macaroni and cheese
13  14.0         gina.ball@email.com                   rice, poutine, hot dog
14  15.0     myles.hendrix@email.com                  pizza, ramen, hamburger

split method use:


We can seperate the first name and last name by using the str.split method. This returns a list with the first name, the last name with the @email attached to it, and com [first_name, last_name@email, com].


Notice that the character that we split on (i.e., '.') is not included in the list

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              15 non-null     float64
 1   email           15 non-null     object
 2   favorite_foods  14 non-null     object
dtypes: float64(1), object(2)
memory usage: 488.0+ bytes

In [10]:
# To check the data type of the email column, we can use the dtype attribute like this:
print(df['email'].dtype)

object

In [13]:
type(df['email'][0])

str

In [14]:
df['email'][0]

'liberty.hayes@email.com'

In [17]:
type(df['email'])

pandas.core.series.Series

In [19]:
# because 'series' object has no attribute 'split' so first of all we convert 'series' object to 'string' object 
df['email'].str

In [20]:
# now we will split
df['email'].str.split('.')

0        [liberty, hayes@email, com]
1       [mallory, spears@email, com]
2          [easton, lara@email, com]
3       [jaslyn, mathews@email, com]
4      [juliet, erickson@email, com]
5      [laylah, sullivan@email, com]
6     [kenzie, underwood@email, com]
7       [alexandra, raig@email, com]
8      [solomon, rollins@email, com]
9       [alisha, mcgrath@email, com]
10      [jakayla, suarez@email, com]
11       [alvaro, mccann@email, com]
12     [derrick, jackson@email, com]
13           [gina, ball@email, com]
14       [myles, hendrix@email, com]
Name: email, dtype: object

To simplify the splitting process, we will only split on the first occurrence of a period ('.'). 

By specifying the 'n' parameter, 

we can control the maximum number of splits that will take place. Consequently, our resulting list will contain two elements: the first name and the last name (along with any additional irrelevant characters attached), represented as [first_name, last_name@...].

In [21]:
df['email'].str.split('.',n=1)

0        [liberty, hayes@email.com]
1       [mallory, spears@email.com]
2          [easton, lara@email.com]
3       [jaslyn, mathews@email.com]
4      [juliet, erickson@email.com]
5      [laylah, sullivan@email.com]
6     [kenzie, underwood@email.com]
7       [alexandra, raig@email.com]
8      [solomon, rollins@email.com]
9       [alisha, mcgrath@email.com]
10      [jakayla, suarez@email.com]
11       [alvaro, mccann@email.com]
12     [derrick, jackson@email.com]
13           [gina, ball@email.com]
14       [myles, hendrix@email.com]
Name: email, dtype: object

expand

This above code returns a Series of lists. I generally find it more helpful if each element is in it's own Series rather than in a list. We can accomplish this by using the expand=True parameter. This will create a dataframe with each element in it's own column. We will assing the returned dataframe into split_email

In [22]:
split_mail=df['email'].str.split('.',n=1,expand=True)
split_mail

            0                    1
0     liberty      hayes@email.com
1     mallory     spears@email.com
2      easton       lara@email.com
3      jaslyn    mathews@email.com
4      juliet   erickson@email.com
5      laylah   sullivan@email.com
6      kenzie  underwood@email.com
7   alexandra       raig@email.com
8     solomon    rollins@email.com
9      alisha    mcgrath@email.com
10    jakayla     suarez@email.com
11     alvaro     mccann@email.com
12    derrick    jackson@email.com
13       gina       ball@email.com
14      myles    hendrix@email.com

rename

Nice! This is helpful, but the column names are not helpful. We can rename them using the .rename method.

In [24]:
split_mail_1=split_mail.rename(columns={0:'First_Name',1:'Last_Name'})
split_mail_1

   First_Name            Last_Name
0     liberty      hayes@email.com
1     mallory     spears@email.com
2      easton       lara@email.com
3      jaslyn    mathews@email.com
4      juliet   erickson@email.com
5      laylah   sullivan@email.com
6      kenzie  underwood@email.com
7   alexandra       raig@email.com
8     solomon    rollins@email.com
9      alisha    mcgrath@email.com
10    jakayla     suarez@email.com
11     alvaro     mccann@email.com
12    derrick    jackson@email.com
13       gina       ball@email.com
14      myles    hendrix@email.com

In [26]:
# We can do that all in one step for example
split_mail_2=df['email'].str.split('.',n=1,expand=True).rename(columns={0:'First_Name',1:'Last_Name'})
split_mail_2

   First_Name            Last_Name
0     liberty      hayes@email.com
1     mallory     spears@email.com
2      easton       lara@email.com
3      jaslyn    mathews@email.com
4      juliet   erickson@email.com
5      laylah   sullivan@email.com
6      kenzie  underwood@email.com
7   alexandra       raig@email.com
8     solomon    rollins@email.com
9      alisha    mcgrath@email.com
10    jakayla     suarez@email.com
11     alvaro     mccann@email.com
12    derrick    jackson@email.com
13       gina       ball@email.com
14      myles    hendrix@email.com

In [27]:
df

      id                       email                           favorite_foods
0    1.0     liberty.hayes@email.com  apple pie, hot dog, macaroni and cheese
1    2.0    mallory.spears@email.com              sushi, fried chicken, pizza
2    3.0       easton.lara@email.com         enchiladas, apple pie, hamburger
3    4.0    jaslyn.mathews@email.com                steak, hamburger, hot dog
4    5.0   juliet.erickson@email.com                        poutine, sandwich
5    6.0   laylah.sullivan@email.com      french fries, ramen, fish and chips
6    7.0  kenzie.underwood@email.com               sushi, curly fries, chilps
7    8.0    alexandra.raig@email.com                                      NaN
8    9.0   solomon.rollins@email.com                         hot dog, poutine
9   10.0    alisha.mcgrath@email.com                         ramen, spaghetti
10  11.0    jakayla.suarez@email.com                lasagna, sushi, hamburger
11  12.0     alvaro.mccann@email.com             pizza, enchiladas, apple pie
12  13.0   derrick.jackson@email.com  hamburger, hot dog, macaroni and cheese
13  14.0         gina.ball@email.com                   rice, poutine, hot dog
14  15.0     myles.hendrix@email.com                  pizza, ramen, hamburger

In [29]:
df[['First_Name','Last_Name']]=df['email'].str.split('.',n=1,expand=True)
df

,id,email,favorite_foods,first_name,last_name,First_Name,Last_Name
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",liberty,hayes@email.com,liberty,hayes@email.com
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",mallory,spears@email.com,mallory,spears@email.com
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",easton,lara@email.com,easton,lara@email.com
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",jaslyn,mathews@email.com,jaslyn,mathews@email.com
4,5.0,juliet.erickson@email.com,"poutine, sandwich",juliet,erickson@email.com,juliet,erickson@email.com
5,6.0,laylah.sullivan@email.com,"french fries, ramen, fish and chips",laylah,sullivan@email.com,laylah,sullivan@email.com
6,7.0,kenzie.underwood@email.com,"sushi, curly fries, chilps",kenzie,underwood@email.com,kenzie,underwood@email.com
7,8.0,alexandra.raig@email.com,NaN,alexandra,raig@email.com,alexandra,raig@email.com
8,9.0,solomon.rollins@email.com,"hot dog, poutine",solomon,rollins@email.com,solomon,rollins@email.com
9,10.0,alisha.mcgrath@email.com,"ramen, spaghetti",alisha,mcgrath@email.com,alisha,mcgrath@email.com
10,11.0,jakayla.suarez@email.com,"lasagna, sushi, hamburger",jakayla,suarez@email.com,jakayla,suarez@email.com
11,12.0,alvaro.mccann@email.com,"pizza, enchiladas, apple pie",alvaro,mccann@email.com,alvaro,mccann@email.com
12,13.0,derrick.jackson@email.com,"hamburger, hot dog, macaroni and cheese",derrick,jackson@email.com,derrick,jackson@email.com
13,14.0,gina.ball@email.com,"rice, poutine, hot dog",gina,ball@email.com,gina,ball@email.com
14,15.0,myles.hendrix@email.com,"pizza, ramen, hamburger",myles,hendrix@email.com,myles,hendrix@email.com

replace

Now we just need to clean up the last_name column. We can simply remove the @email.com by using the .replace method. As arguments we include the thing we want to replace and what we want to replace it with. Here we want to replace the @gmail.com with an empty string (which removes the @email.com)

In [31]:
df['Last_Name']=df['Last_Name'].str.replace('@email.com','')
df

<ipython-input-31-fc094b4a57df>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Last_Name']=df['Last_Name'].str.replace('@email.com','')

,id,email,favorite_foods,first_name,last_name,First_Name,Last_Name
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",liberty,hayes@email.com,liberty,hayes
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",mallory,spears@email.com,mallory,spears
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",easton,lara@email.com,easton,lara
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",jaslyn,mathews@email.com,jaslyn,mathews
4,5.0,juliet.erickson@email.com,"poutine, sandwich",juliet,erickson@email.com,juliet,erickson
5,6.0,laylah.sullivan@email.com,"french fries, ramen, fish and chips",laylah,sullivan@email.com,laylah,sullivan
6,7.0,kenzie.underwood@email.com,"sushi, curly fries, chilps",kenzie,underwood@email.com,kenzie,underwood
7,8.0,alexandra.raig@email.com,NaN,alexandra,raig@email.com,alexandra,raig
8,9.0,solomon.rollins@email.com,"hot dog, poutine",solomon,rollins@email.com,solomon,rollins
9,10.0,alisha.mcgrath@email.com,"ramen, spaghetti",alisha,mcgrath@email.com,alisha,mcgrath
10,11.0,jakayla.suarez@email.com,"lasagna, sushi, hamburger",jakayla,suarez@email.com,jakayla,suarez
11,12.0,alvaro.mccann@email.com,"pizza, enchiladas, apple pie",alvaro,mccann@email.com,alvaro,mccann
12,13.0,derrick.jackson@email.com,"hamburger, hot dog, macaroni and cheese",derrick,jackson@email.com,derrick,jackson
13,14.0,gina.ball@email.com,"rice, poutine, hot dog",gina,ball@email.com,gina,ball
14,15.0,myles.hendrix@email.com,"pizza, ramen, hamburger",myles,hendrix@email.com,myles,hendrix

NaN and None

NOTICE: We are spliting on '. ' (period space) not just '.' if we split on only '.' it will return the favorite food with ' ' attached to the front of the string. You probably don't want this. What happens with NaN? NaN just gets carried over into all the the new columns What happens when there are fewer splits (i.e., 1 split instead of 2)? When there is nothing to include in an extra column None is placed in that cell.

In [34]:
df[['Fav1','Fav2','Fav3']]=df['favorite_foods'].str.split(',',expand=True)
df

,id,email,favorite_foods,first_name,last_name,First_Name,Last_Name,Fav1,Fav2,Fav3
0,1.0,liberty.hayes@email.com,"apple pie, hot dog, macaroni and cheese",liberty,hayes@email.com,liberty,hayes,apple pie,hot dog,macaroni and cheese
1,2.0,mallory.spears@email.com,"sushi, fried chicken, pizza",mallory,spears@email.com,mallory,spears,sushi,fried chicken,pizza
2,3.0,easton.lara@email.com,"enchiladas, apple pie, hamburger",easton,lara@email.com,easton,lara,enchiladas,apple pie,hamburger
3,4.0,jaslyn.mathews@email.com,"steak, hamburger, hot dog",jaslyn,mathews@email.com,jaslyn,mathews,steak,hamburger,hot dog
4,5.0,juliet.erickson@email.com,"poutine, sandwich",juliet,erickson@email.com,juliet,erickson,poutine,sandwich,None
5,6.0,laylah.sullivan@email.com,"french fries, ramen, fish and chips",laylah,sullivan@email.com,laylah,sullivan,french fries,ramen,fish and chips
6,7.0,kenzie.underwood@email.com,"sushi, curly fries, chilps",kenzie,underwood@email.com,kenzie,underwood,sushi,curly fries,chilps
7,8.0,alexandra.raig@email.com,NaN,alexandra,raig@email.com,alexandra,raig,NaN,NaN,NaN
8,9.0,solomon.rollins@email.com,"hot dog, poutine",solomon,rollins@email.com,solomon,rollins,hot dog,poutine,None
9,10.0,alisha.mcgrath@email.com,"ramen, spaghetti",alisha,mcgrath@email.com,alisha,mcgrath,ramen,spaghetti,None
10,11.0,jakayla.suarez@email.com,"lasagna, sushi, hamburger",jakayla,suarez@email.com,jakayla,suarez,lasagna,sushi,hamburger
11,12.0,alvaro.mccann@email.com,"pizza, enchiladas, apple pie",alvaro,mccann@email.com,alvaro,mccann,pizza,enchiladas,apple pie
12,13.0,derrick.jackson@email.com,"hamburger, hot dog, macaroni and cheese",derrick,jackson@email.com,derrick,jackson,hamburger,hot dog,macaroni and cheese
13,14.0,gina.ball@email.com,"rice, poutine, hot dog",gina,ball@email.com,gina,ball,rice,poutine,hot dog
14,15.0,myles.hendrix@email.com,"pizza, ramen, hamburger",myles,hendrix@email.com,myles,hendrix,pizza,ramen,hamburger